.gocache/
bin/
man/
cover.out
coverage.out
*.test
docs/
unittesting_strategy.md
benchmarking.md
# controller-runtime client
.fakehome/
.cache/
DIFF*.md
.gomodcache/
FUTURE_PLAN.md
.DS_Store
*ARCHITECTURE.md
f.go
inspirations/
